body{
  margin:0;
  background-color: #ecedf0;

}
*{
  box-sizing: border-box;
}
.App{
  /*padding:10px;*/
  background-color: #ecedf0;

  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.spinner{
  border:4px solid #999;
  border-left:4px solid #444;
  border-radius:50%;
  width:60px;
  height:60px;
}
.app-header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
  0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1) !important;
  padding:10px;

}
.app-header > img{
  max-width:30%;
}

/*sidebar*/

.sidebar{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width:100%;
  height:1000px;
}

.content{
  width:100%;
  margin-top:3px;
  display:grid;
  align-items: baseline;
  grid-gap:20px;
  padding: 20px;
  margin-top:20px;
}
.border-bottom-colored{
  padding:10px;
  border-bottom:10px solid #1d85ec;
  border-radius: 8px;
}
/*map*/
.map {
  min-width: 15vw;
  height: 300px;
  background-color: white;
}

.map .leaflet-container {
  margin: 15px;
  height: 100%;
  border-radius: 0.25rem;
}
/*table*/

.table {
  overflow-y:scroll;
  height:400px;
  color: #606060;
  margin:10px;
  padding:10px;
}
.table tr {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
}
.table tr:hover {
  font-weight: bold;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-last-of-type(even) {
  background-color: #f1f1f1;
}